@using FinalProject.Models;
@model FinalProject.Models.Image
@inject FinalProjectContext context;
@{
    ViewData["Title"] = "Admin-Delete Comment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var comments = Model.Comments as IEnumerable<FinalProject.Models.ImageComment>;

}

<h1>Delete a Comment</h1>

<h3>Select the comment to delete.</h3>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.ImageID)
            </th>
            <th>
                Comment ID
            </th>
            <th>
                User ID
            </th>
            <th>
                Comment Contents
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in comments)
    {
        var content = item.CommentID;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => context.UserComments.FirstOrDefault((uc) => uc.CommentID == item.CommentID).UserAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => context.Comments.FirstOrDefault((c) => c.CommentID == item.CommentID).Content)
            </td>
            <td>
                <form asp-action="DeleteComment" asp-route-id="@content">
                    <input type="hidden" asp-for="Comments" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </td>
        </tr>
    }
</table>
